*{
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #e9ebee;
  color: #1d2129;
  text-align: center;
  font-size: 5vw;
}


.Navbar{
  color: rgb(255, 255, 255);
  padding: 10px;
  background: #b24141;
}